<h1 mat-dialog-title>Boop Terms and Conditions</h1>
<div mat-dialog-content>
    <h1>Introduction</h1>
    <p>Terms and conditions text goes here.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce in luctus massa, quis euismod leo. Pellentesque
        semper vel leo non faucibus. Cras sed pellentesque ipsum. Aliquam pulvinar sollicitudin elit eget condimentum.
        Donec auctor egestas sem quis dignissim. Interdum et malesuada fames ac ante ipsum primis in faucibus. Aenean et
        leo est. Cras metus leo, hendrerit et ultricies molestie, dignissim nec nisl. Sed eu mauris odio. Morbi aliquam
        elementum nulla, condimentum rhoncus leo pulvinar in. Integer et pulvinar nulla. Etiam in leo lobortis,
        efficitur tellus vitae, eleifend lacus. Aenean quis vestibulum dui. Nam iaculis felis mauris, ut sagittis nunc
        lobortis blandit. Aliquam et volutpat nulla.</p>
    <p>Aenean blandit leo id dapibus rutrum. Proin accumsan accumsan euismod. Nunc mi ligula, dapibus nec dui vel,
        sodales blandit dolor. Donec laoreet eros et augue auctor, in elementum mi laoreet. Mauris facilisis iaculis
        augue egestas vestibulum. Nam ipsum libero, porttitor a nisl eget, ultricies vehicula ligula. Fusce fermentum
        scelerisque nunc, a finibus massa euismod at. Etiam feugiat tortor ac justo lobortis, vitae ultrices leo mollis.
        Ut a rutrum turpis. Sed condimentum libero sit amet risus efficitur, eget feugiat lorem pellentesque.
        Pellentesque sed massa sed lorem dapibus cursus quis aliquam risus. Mauris id auctor massa. Morbi elit neque,
        blandit at lacinia quis, tempor in mauris. Nullam volutpat, nibh at dignissim finibus, ante metus aliquam lorem,
        vitae accumsan urna lacus dictum nibh. Suspendisse at lorem libero.</p>
    <h1>This is an example header</h1>
    <p>This is an example paragraph.</p>
</div>
<div mat-dialog-actions>
    <button mat-button mat-dialog-close>Close</button>
</div>
