<h1 mat-dialog-title>Boop Terms and Conditions</h1>
<div mat-dialog-content>
    <h2>Welcome to Boop!</h2>
    <p>These terms and conditions outline the rules and regulations for the use of Boop's website and web application, 
        located at boopboop.app. </p>
    <p>When you register an account on this application, you accept these terms and conditions. 
        Do not continue to use Boop if you do not agree to take all the terms and conditions stated on this page. </p>
    <p>The following terminology applies to these Terms and Conditions, 
        Privacy Statement and Disclaimer Notice and all Agreements: "Client", "You" and "Your" refers to you, 
        the person using this service and compliant to these terms and conditions. "Ourselves", "We", "Our" and 
        "Us", refers to the Boop team, which is a "junior design" project team at the Georgia Institute of Technology. 
        "Party", "Parties", or "Us", refers to both the Client and ourselves.  Any use of the above terminology or 
        other words in the singular, plural, capitalization and/or he/she or they, are taken as interchangeable and 
        therefore as referring to same. </p>

    <h2>Cookies</h2>
    <p>We employ the use of cookies to remember that you are logged in between sessions.  
        You may choose to disable cookies in your web browser if you do not want to stay logged in. 
        Most interactive websites use cookies to let us retrieve the user's details for each visit.  </p>
    
    <h2>Software License</h2>  
    <p>The Boop software is copyright (c) 2021 Grace Rarer, Gunnar Andra-Thomas, Juan Caicedo, Porter Hunley, 
        Sanjana Jampana, and Jiale Zheng, and is available as open-source software under the MIT software license. </p>
    <p>Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated 
        documentation files (the "Software"), to deal in the Software without restriction, including without 
        limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies 
        of the Software, and to permit persons to whom the Software is furnished to do so, subject to the 
        following conditions: </p>
    <p>The above copyright notice and this permission notice shall be included in all copies or substantial 
        portions of the Software. </p>
    <p>THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR 
        IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,  
        FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE 
        AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, 
        WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH 
        THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE. </p>
    <p>You can find the source code for the Boop software at https://github.com/grarer/boop </p>

    <h2>User Content License </h2>
    <p>Parts of this website offer an opportunity for users to create a profile, including 
        “status messages” and “profile descriptions”.</p>
    <p>Boop does not filter, edit, publish or review user-generated content prior to its presence on the website. 
        User-generated Comments do not reflect the views and opinions of Boop, Its agents and/or affiliates. 
        To the extent permitted by applicable laws, Boop shall not be liable for the Comments or for any liability, 
        damages or expenses caused and/or suffered as a result of any use of and/or posting of and/or appearance 
        of the Comments on this website.</p>
    <p>Boop reserves the right to monitor all Comments and to remove any Comments or other user-generated 
        content at any time and for any reason. </p>
    <p>You warrant and represent that: </p>
    <ul>
        <li>You are entitled to post the Comments on our website and have all necessary licenses and consents to do so; </li>
        <li>The Comments do not invade any intellectual property right, including without limitation copyright, patent or trademark of any third party; </li>
        <li>The Comments do not contain any defamatory, libelous, offensive, indecent or otherwise unlawful material which is an invasion of privacy </li>
        <li>The Comments will not be used to solicit or promote  unlawful activity. </li>
    </ul>
    <p>You hereby grant Boop a non-exclusive license to use, reproduce, edit and authorize others to use, reproduce and 
        edit any of your Comments in any and all forms, formats or media. </p>
    
    <h2>iFrames</h2>
    <p>Without prior approval and written permission, you may not create frames around our 
        Webpages that alter in any way the visual presentation or appearance of our Website. </p>
    
    <h2>Your Privacy </h2>
    <p>Please read Privacy Policy </p>

    <h2>Reservation of Rights </h2>
    <p>We reserve the right to amend these terms and conditions and its linking policy at any time. </p>
</div>
<div mat-dialog-actions>
    <button mat-button mat-dialog-close>Close</button>
</div>
