<h1 mat-dialog-title>Boop Privacy Policy</h1>
<div mat-dialog-content>
    <h2>How Boop Uses Your Data</h2>
    <p>At Boop, one of our main priorities is the privacy of our users.
        This Privacy Policy document contains types of information that is collected and recorded by Boop and how we use it. </p>
    <p>If you have additional questions or require more information about our Privacy Policy, do not hesitate
        to contact us at boopsocialapp@gmail.com. </p>

    <h2>Consent </h2>
    <p>By registering an account on Boop, you hereby consent to our Privacy Policy and agree to its terms. </p>

    <h2>Information we collect </h2>
    <p>The personal information that you are asked to provide, and the reasons why you are asked to provide it,
        will be made clear to you at the point we ask you to provide your personal information. </p>
    <p>If you contact us directly, we may receive additional information about you such as your name, email address,
        phone number, the contents of the message and/or attachments you may send us, and any other information you
        may choose to provide. </p>
    <p>When you register for an account, we will ask for your contact information, including items such as your name,
        email address, birthdate, and gender. </p>

    <h2>How we use your information </h2>
    <p>The personal information that we collect, such as your name, gender, age, and social messaging usernames, is
        used to display a profile, and to help your friends contact you through social messaging applications. </p>
    <p>The information that we collect about who your friends are is used to remind you and your friends, and other
        people in your social circles, to chat with one another. Your friends list is also displayed on your profile. </p>

    <h2>Boop will never sell your data to third parties</h2>
    <p>We have committed to never sell or trade profiles, contact information, or any other user information to
        advertisers or other third parties.
    </p>

    <h2>Controlling Who Can See Your Information </h2>
    <p>When registering an account, you can choose to make your profile visible to anyone, to only your friends and
        friends-of-friends, or to only your friends. You can change this setting on the account settings page at any time.
        You can also choose whether or not your profile shows your age and gender. </p>

    <h2>Cookies </h2>
    <p>Like any other website, we use “cookies” to remember who so that you do not have to log in again every time you access
        Boop. Your Boop cookie will be deleted when you log out. </p>

    <h2>Third Party Privacy Policies </h2>
    <p>Boop's Privacy Policy does not apply to other websites or services, including third-party messaging services that
        may be linked to from users' contact information. Thus, we advise you to consult
        the respective Privacy Policies of these third-party services for more detailed information. </p>
    <p>Boop uses Gravatar, from Automattic, to host users’ profile images. You can read Automattic’s privacy
        policy at <a href="https://automattic.com/privacy/" target="_blank">https://automattic.com/privacy/</a> </p>
    <p>You can choose to disable cookies through your web browser's options. </p>

    <h2>CCPA Privacy Rights (Do Not Sell My Personal Information) </h2>
    <p>Under the CCPA, among other rights, California consumers have the right to: </p>
    <ul>
        <li>Request that a business that collects a consumer's personal data disclose the categories and specific pieces of
            personal data that a business has collected about consumers. </li>
        <li>Request that a business delete any personal data about the consumer that a business has collected. </li>
        <li>Request that a business that sells a consumer's personal data, not sell the consumer's personal data. </li>
    </ul>
    <p>If you make a request, we have one month to respond to you. If you would like to exercise any of these rights,
        please contact us. </p>
    <p>To have your data immediately removed from our servers, you can choose to delete your account through the account settings page.
        The settings page also allows you to view or download all of the personal data that Boop collects about you. </p>

    <h2>GDPR Data Protection Rights </h2>
    <p>We would like to make sure you are fully aware of all of your data protection rights.
        Every user is entitled to the following: </p>
    <ul>
        <li>The right to access – You have the right to request copies of your personal data.  You can download a
            copy of the data that Boop stores about you by visiting the account settings page. </li>
        <li>The right to rectification – You have the right to request that we correct any information you believe is inaccurate.
            You also have the right to request that we complete the information you believe is incomplete. You can edit your
            personal information and contact details directly through the Boop web-app, but please contact us if you require
            assistance. </li>
        <li>The right to erasure – You have the right to request that we erase your personal data, under certain conditions.
            To have your data removed from our servers, you can choose to delete your account through the account settings page. </li>
        <li>The right to restrict processing – You have the right to request that we restrict the processing of your personal data,
            under certain conditions. </li>
        <li>The right to object to processing – You have the right to object to our processing of your personal data, under
            certain conditions. </li>
        <li>The right to data portability – You have the right to request that we transfer the data that we have collected to another
            organization, or directly to you, under certain conditions. </li>
    </ul>
    <p>If you make a request, we have one month to respond to you. If you would like to exercise any of these rights,
        please contact us. </p>

    <h2>Children's Information </h2>
    <p>Another part of our priority is adding protection for children while using the internet. We encourage parents and guardians to
        observe, participate in, and/or monitor and guide their online activity. </p>
    <p>Boop does not knowingly collect any Personal Identifiable Information from children under the age of 13. If you think
        that your child provided this kind of information on our website, we strongly encourage you to contact us immediately
        and we will do our best efforts to promptly remove such information from our records. </p>
</div>
<div mat-dialog-actions>
    <button mat-button mat-dialog-close>Close</button>
</div>
