<app-loading-bar *ngIf="info === undefined"></app-loading-bar>
<ng-container *ngIf="info !== undefined">
    <div style="text-align: center;">
        <h1 class="mat-headline">Start a chat with {{info!.friendlyName}}</h1>
        <img [src]='info!.avatarUrl' class = 'profile-image'>
    </div>
    <div style="display: flex; flex-direction: column; align-items: center;">
        <mat-card *ngFor="let method of info!.contactMethods">
            <mat-card-header>
                <mat-card-title>
                    <img *ngIf="commonPlatforms[method.platform] !== undefined"
                        class="platform-icon" [src]="commonPlatforms[method.platform]!.iconUrl">
                    {{method.platform}}
            </mat-card-title>
            </mat-card-header>
            <mat-card-content style="text-align: center;">
                <div style="display: flex; flex-direction: row;">
                    <span style="width: 24px;">

                    </span>
                    <span style="flex-grow: 1; text-align: center; font-size: 18pt; margin-bottom: 0;">
                        {{method.contactID}}
                    </span>
                    <span style="width: 24px;">
                        <button mat-icon-button style="position: relative; bottom: 8px;" (click)="copyMethod(method)">
                            <mat-icon>content_copy</mat-icon>
                        </button>
                    </span>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</ng-container>
