.link-button {
    width: 100%;
    margin-top: 10px;
}

.menu-div {
    width: calc(100% - 40px);
    margin: auto;
    padding-bottom: 10px;
}

.link-button-container {
    button {
        text-align: left;
    }
}

.update-button  {
    display: block;
    text-align: center;
    width: 100%;
    margin-top: 5px;
}

