<app-loading-bar *ngIf="info === undefined"></app-loading-bar>
<div *ngIf="info !== undefined" style="padding-bottom: 10px;">
  <h2 class="section-header">Add Friends</h2>
  <app-friend-request></app-friend-request>
  <ng-container *ngIf="info!.pendingFriendRequestsToUser.length > 0">
    <h2 class="section-header">Pending Friend Requests</h2>
    <mat-card *ngFor="let request of info!.pendingFriendRequestsToUser" style="margin-bottom: 10px;">
      <mat-card-header>
        <mat-card-title>{{request.fullName}}</mat-card-title>
        <mat-card-subtitle style="margin-bottom: 0;">{{request.username}}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-actions style="padding-top: 0;">
        <button mat-button (click)="answerFriendRequest(request, true)" color="primary">ACCEPT</button>
        <button mat-button (click)="answerFriendRequest(request, false)" color="warn">REJECT</button>
      </mat-card-actions>
    </mat-card>
  </ng-container>
  <ng-container *ngIf="info!.currentFriends.length > 0">
    <h2 class="section-header">Your Friends</h2>
    <mat-card *ngFor="let friend of info!.currentFriends" style="margin-bottom: 10px;">
      <mat-card-header>
        <mat-card-title>{{friend.fullName}}</mat-card-title>
        <mat-card-subtitle style="margin-bottom: 0;">{{friend.username}}</mat-card-subtitle>
      </mat-card-header>
      <div style="margin-left: 15px;">
        <p style="margin-bottom: 0; margin-top: -10px;" *ngIf="friend.statusMessage"> <mat-icon style="position: relative; top: 7px;">sticky_note_2</mat-icon>“{{friend.statusMessage}}”</p>
      </div>
      <mat-card-actions style="padding-top: 0;">
        <button mat-button (click)="unfriend(friend)" color="warn">UNFRIEND</button>
      </mat-card-actions>
    </mat-card>
  </ng-container>
</div>
