<h1 mat-dialog-title>Boop FAQ</h1>
<div mat-dialog-content>
    <h2>What does Boop do?</h2>
    <p>
        At random intervals, Boop sends notifications to a pair of friends to remind them to check in on each other.
        When you click on a Boop reminder, you can see a list of your friend's contact info or usernames for social
        messaging apps like WhatsApp, Messenger, Discord, and Snapchat, so you can use those platforms to start a
        conversation.
    </p>
    <p>
        Boop will also occasionally send notifications to friends-of-friends, helping you connect with other people
        in your social circle who you might know or want to be introduced to. If you want, you can disable
        friend-of-friend notifications by setting your privacy level to "friends only".
    </p>
    <h2>What's the point of spontaneous reminders?</h2>
    <p>
        Shared physical spaces are full of spontaneous opportunities to meet people and catch up with friends.
        When you see your classmate eating in the dining hall or cross paths with your friend on the sidewalk, catching
        up and exchanging small-talk helps you form and maintain friendships.
    </p>
    <p>
        When we started our first semester of remote college during the Coronavirus pandemic, we realized that online
        communication doesn't have these opportunities. Social messaging apps are a great way to chat with a
        long-distance friend, but it's too easy to go weeks without starting a conversation. With Boop, we aim to create
        the digital version of crossing paths with a friend, with the goal of encouraging the spontaneous, unplanned
        interactions that real friendships are built on.
    </p>
    <h2>How often will I get notifications?</h2>
    <p>
        On average, users get around one notification every one or two days, but the exact rate depends on several
        factors including how many friends you have and how many friends your friends have. Boop will never send
        spontaneous reminder notifications more than once per 8 hours.
    </p>
    <p>If Boop notifications become distracting, you can temporarily disable them by activating
        Boop's "do not disturb" mode.
    </p>
    <h2>What is required before I can get Boop notifications?</h2>
    <p>
        To send notifications to reminding you and your friends to chat, Boop needs to know who your friends are, what
        device(s) to send notifications to, and how your friend can start a chat with you.
    </p>
    <p>
        To connect with people you know, you can send friend requests or accept requests sent to you. Once you've
        connected with some of your friends, navigating through their profile pages and friends lists can help you find
        more people who you might know.
    </p>
    <p>
        You can activate Boop push notifications on your device by selecting "notification setup"
        on the Boop home page.
    </p>
    <p>
        Boop also requires your social messaging contact info so that people will know how to start a chat with you.
    </p>
    <h2>What devices does Boop work on?</h2>
    <p>You can access Boop from any modern web browser such as Chrome or Firefox. On some platforms including Android
        devices and Windows PCs, you can also install it as a "progressive web app", allowing Boop to be used
        from your home screen like any other stand-alone app.
    </p>
    <p>
        You can activate Boop push notifications on your computer or Android device, but it is not possible to
        receive Boop push notifications on iOS devices.
    </p>
    <h2>Why are Boop notifications not supported on iOS?</h2>
    <p>
        Apple currently does not allow any push notifications from web-apps on iOS devices.
    </p>
    <h2>How can I stop strangers from viewing my contact info, profile, and friends list?</h2>
    <p>
        You can set your profile's privacy level when you create your account, or change your privacy level through
        the settings page. You can choose to make your information visible to friends, friends and friends-of-friends,
        or everyone.
    </p>
    <h2>I can't log into my Boop account. How do I reset my password?</h2>
    <p>Please email <a href="mailto:boopsocialapp@gmail.com" target="_blank">boopsocialapp@gmail.com</a>.
        We can reset your password to a randomly-generated temporary password and send the temporary password to the
        email
        that you provided when you
        signed up for Boop. You can then use that temporary password to log in and change your Boop password.
    </p>
    <h2>Who created Boop?</h2>
    <p>
        Boop was created by Grace Rarer, Porter Hunley, Juan Caicedo, Sanjana Jampana, Gunnar Andra-Thomas,
        and Jiale Zheng. We are a team of undergraduates at Georgia Tech who designed and implemented this project for
        our "Junior Design" program in Fall 2020 and Spring 2021.
    </p>
    <h2>How long will you maintain Boop?</h2>
    <p>The Boop service is expected to keep running until our free trial of Amazon Web Services expires in early 2022.
    </p>
    <h2>Is Boop open-source?</h2>
    <p>Yes, Boop is free software released under the MIT software license.</p>
    <p>You can access the source code at <a href="https://github.com/GRarer/boop"
            target="_blank">https://github.com/GRarer/boop</a></p>
</div>
<div mat-dialog-actions>
    <button mat-button mat-dialog-close>Close</button>
</div>
