mat-form-field {
	width: 100%;
}

mat-card {
	width: calc(100% - 60px);
	margin: auto;
    margin-bottom: 10px;
}

.platform-icon {
    max-height: 30px;
    max-width: 30px;
    position: relative;
    top: 8px;
}
