<div style="display: flex; flex-direction: column; height: 100%;">
    <h2 style="text-align: center; margin-bottom: 0;">Which chat apps do you use?</h2>
    <div style="flex-grow: 1;  overflow: auto;">
        <div style="height: 100%;">
            <mat-card *ngFor="let contact of contacts!; index as index;">
                <mat-card-content style="margin-bottom: 0;">
                    <mat-form-field appearance="outline" class="close-stacked-input">
                        <mat-label>Platform</mat-label>
                        <mat-select disableOptionCentering=true [(ngModel)]="contact.platformSelection">
                            <mat-option *ngFor="let platformOption of platformOptions" [value]="platformOption">
                                <span *ngIf="commonPlatforms[platformOption]?.iconUrl !== undefined"
                                    style="min-width: 35px; display: inline-block;">
                                    <img class="platform-icon" [src]="commonPlatforms[platformOption]!.iconUrl">
                                </span>
                                {{platformOption}}
                            </mat-option>
                            <mat-option value="Other">
                                {{"Other"}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="close-stacked-input"
                        *ngIf="contact.platformSelection === 'Other'">
                        <mat-label>Platform Name</mat-label>
                        <input matInput [(ngModel)]="contact.customPlatform">
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Contact ID</mat-label>
                        <input matInput [(ngModel)]="contact.contactID" >
                    <mat-hint>{{commonPlatforms[contact.platformSelection]?.contactIdHint || 'Your username, number, or ID for that chat platform'}}</mat-hint>
                </mat-form-field>
            </mat-card-content>
            <mat-card-actions style="padding-top: 0;">
                <div style="display: flex; flex-direction: row-reverse;">
                        <button mat-icon-button matTooltip="Move Up" (click)="moveUp(index)"
                            [disabled]="index === 0">
                            <mat-icon>keyboard_arrow_up</mat-icon>
                        </button>
                        <button mat-icon-button matTooltip="Move Down" (click)="moveDown(index)"
                            [disabled]="index === (contacts!.length - 1)">
                            <mat-icon>keyboard_arrow_down</mat-icon>
                        </button>
                        <button mat-icon-button matTooltip="Remove" (click)="removeCard(index)"
                            [disabled]="contacts!.length < 2">
                            <mat-icon>clear</mat-icon>
                        </button>
                    </div>
                </mat-card-actions>
            </mat-card>
            <div style="text-align: center; padding-bottom: 20px;">
                <button mat-raised-button style="margin: auto;" (click)="addCard()">
                    <mat-icon>add</mat-icon> ANOTHER
                </button>
            </div>
        </div>
    </div>
    <div style="padding-bottom: 20px;">
        <button mat-raised-button color="primary" style="width: calc(100% - 28px); margin-left: 14px;"
            (click)="confirm()">Save Changes</button>
    </div>
</div>
