mat-form-field {
	width: 100%;
}

:host ::ng-deep mat-card {
	width: calc(100% - 60px);
	margin: auto;
	margin-bottom: 30px;
}

.update-button {
	font-size: x-large;
	width: 100%;
	margin-top: 10px;
}
