<app-loading-bar *ngIf="info === undefined"></app-loading-bar>
<div *ngIf="info !== undefined" style="padding-bottom: 10px;">
	<mat-card>
		<mat-card-header>
			<mat-card-title>User Info</mat-card-title>
		</mat-card-header>
		<form [formGroup]="updateUserForm" (submit)="updateUserInfo()">
			<mat-form-field appearance="outline" class="close-stacked-input">
				<mat-label>Username</mat-label>
				<input matInput formControlName="username">
			</mat-form-field>
			<mat-form-field appearance="outline" class="close-stacked-input">
				<mat-label>Full Name</mat-label>
				<input matInput formControlName="fullName">
			</mat-form-field>
			<mat-form-field appearance="outline" class="close-stacked-input">
				<mat-label>Friendly Name</mat-label>
				<input matInput formControlName="friendlyName">
			</mat-form-field>
			<mat-form-field appearance="outline" class="close-stacked-input">
				<mat-label>Email Address</mat-label>
				<input matInput formControlName="email" placeholder="e.g. jdoe@example.com">
			</mat-form-field>
			<mat-form-field appearance="outline" class="close-stacked-input">
				<mat-label>Birth Date</mat-label>
				<input readonly matInput [matDatepicker]="picker" formControlName="birthDate" (click)="picker.open()">
				<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
				<mat-datepicker #picker></mat-datepicker>
			</mat-form-field>
			<mat-form-field appearance="outline" class="close-stacked-input">
				<mat-label>Gender</mat-label>
				<mat-select formControlName="gender">
					<mat-option *ngFor="let gender of genderOptions" [value]="gender">
						{{gender}}
					</mat-option>
					<mat-option value="">
						Prefer Not To Say
					</mat-option>
				</mat-select>
			</mat-form-field>
			<button mat-flat-button color="primary" class="update-button"
				[disabled]="!updateUserForm.valid || updateUserForm.pristine">Update</button>
		</form>
	</mat-card>
	<mat-card>
		<mat-card-header>
			<mat-card-title>Profile Avatar</mat-card-title>
			<mat-card-subtitle>Boop uses the Gravatar image linked to your email address</mat-card-subtitle>
		</mat-card-header>
		<mat-card-content style="margin-left: 16px;">
			<div style="display: flex; flex-direction: row; align-items: center; margin-bottom: 10px;">
				<img [src]='info!.avatarUrl' style="width: 80px; height: 80px; border-radius: 50%;">
				<button (click)="refresh()" mat-icon-button><mat-icon>refresh</mat-icon></button>
				<p style="margin-bottom: 0;">{{info!.emailAddress}}</p>
			</div>
			<p style="color: rgba(0,0,0,.54); text-align: center;">It might take around one minute for Gravatar changes to be applied</p>

			<a href="//gravatar.com" target="_blank" style= "width: 100%;" color="primary" mat-raised-button>Upload an image on gravatar.com <mat-icon>launch</mat-icon></a>
		</mat-card-content>

	</mat-card>

	<form [formGroup]="privacyForm" (submit)="updatePrivacySettings()">
		<app-privacy-controls [formGroup]="privacyForm"></app-privacy-controls>
	</form>
	<mat-card>
		<mat-card-header>
			<mat-card-title>Change Password</mat-card-title>
		</mat-card-header>
		<form [formGroup]="changePasswordForm" (submit)="updatePassword(); passwordForm.resetForm()"
			#passwordForm="ngForm">
			<mat-form-field appearance="outline" class="close-stacked-input">
				<mat-label>Old Password</mat-label>
				<input matInput type="password" formControlName="oldPassword">
			</mat-form-field>
			<mat-form-field appearance="outline" class="close-stacked-input">
				<mat-label>New Password</mat-label>
				<input matInput type="password" formControlName="newPassword" (keyup)="checkConfirmPassword()">
			</mat-form-field>
			<mat-form-field appearance="outline" class="close-stacked-input">
				<mat-label>Confirm New Password</mat-label>
				<input matInput type="password" formControlName="confirmNewPassword" (keyup)="checkConfirmPassword()">
			</mat-form-field>
			<button mat-flat-button color="primary" class="update-button"
				[disabled]="!changePasswordForm.valid">Update</button>
		</form>
	</mat-card>
	<mat-card style="border: 2px solid #f44336; margin-bottom: 0;">
		<mat-card-header>
			<mat-card-title>Delete Account</mat-card-title>
		</mat-card-header>
		<button mat-flat-button (click)="startDelete()" class="update-button" color='warn'>Delete</button>
	</mat-card>
</div>
