/* You can add global styles to this file, and also import other style files */

@import '@angular/material/prebuilt-themes/indigo-pink.css';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

// forces content into the center of the page on wide desktop screens, but should have no effect on mobile devices
.narrow-body {
    max-width: 6in;
    margin: auto;

    .mat-display-1 {
        text-align: center;
        font-size: 42px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
}

.horizontal-center {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.close-stacked-input {
    margin-bottom: -15px;
}

.mat-button.inline-button {
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 0;
    padding-bottom: 0;
    max-height: 2em;
    margin-top: -0.5em;
}
