<h2 style="text-align: center; margin-bottom: 0;">Profile Image Setup</h2>
<app-loading-bar *ngIf="info === undefined"></app-loading-bar>
<ng-container *ngIf="info !== undefined">
    <p class="menu-paragraph">
        Boop uses Gravatar, a service that connects your email address to your profile image across
				different websites and apps. To change your Gravatar image, go to
				<a class="inline-button" mat-button color="primary" href="//gravatar.com" target="_blank">gravatar.com</a>
				and sign in or create an account using the same email address that you use for Boop ({{info!.emailAddress}}).
    </p>
    <div style="margin-top: 20px; text-align: center;">
        <img [src]='info!.avatarUrl' style="width: 100px; height: 100px; border-radius: 50%;">
        <div style="width: 80%; margin: auto;">
            <a href="//gravatar.com" target="_blank" mat-raised-button  style="width: 100%;">Upload an image on gravatar.com <mat-icon>launch</mat-icon></a>
            <button mat-raised-button color="primary" style="width: 100%; margin-top: 20px;" (click)="done.emit();">Continue</button>
        </div>
        <p style="opacity: 50%; margin-top: 20px; max-width: 2.6in;" class="menu-paragraph">It might take around one minute for Gravatar changes to be applied</p>
    </div>
</ng-container>
