<h2 style="text-align: center; margin-bottom: 0;">Register New Account</h2>

<form [formGroup]="registerForm" (submit)="register()">
    <div class="horizontal-center">
        <mat-form-field appearance="outline">
            <mat-label>Full Name</mat-label>
            <input matInput formControlName="fullName" placeholder="e.g. Jane Doe">
            <mat-hint>Your preferred full name does not have to be your legal name</mat-hint>
        </mat-form-field>
    </div>
    <div class="horizontal-center">
        <mat-form-field appearance="outline">
            <mat-label>Friendly Name</mat-label>
            <input matInput formControlName="friendlyName" placeholder="e.g. Jane">
            <mat-hint>Your first name, nickname, or whatever your friends call you</mat-hint>
        </mat-form-field>
    </div>
    <div class="horizontal-center">
        <mat-form-field appearance="outline">
            <mat-label>Email Address</mat-label>
            <input matInput formControlName="email" placeholder="e.g. jdoe@example.com">
            <mat-hint>Your Gravatar profile image is linked to your email</mat-hint>
        </mat-form-field>
    </div>
    <div class="horizontal-center close-stacked-input">
        <mat-form-field appearance="outline">
            <mat-label>Gender</mat-label>
            <mat-select formControlName="gender">
                <mat-option *ngFor="let gender of genderOptions" [value]="gender">
                    {{gender}}
                </mat-option>
                <mat-option value="">
                    Prefer Not To Say
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div class="horizontal-center close-stacked-input">
        <mat-form-field appearance="outline">
            <mat-label>Birth Date</mat-label>
            <input readonly matInput [matDatepicker]="picker" [max]="birthdayMax" [min]="birthdayMin" formControlName="birthDate" (click)="picker.open()">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker startView="multi-year" ></mat-datepicker>
        </mat-form-field>
    </div>
    <div style="width: 80%; margin: auto; margin-top: 5px;">
        <app-privacy-controls [formGroup]="registerForm"></app-privacy-controls>
    </div>
    <div class="horizontal-center">
        <div style="width: 80%; display: flex; flex-direction: row; margin-top: 2px;">
            <mat-checkbox color="primary" formControlName="agreeToTerms"></mat-checkbox>
            <p style="margin-left: 10px; line-height: 0.9;">I have read and agree to the
                <button mat-button type="button" class="inline-button" color="primary" (click)="showPrivacyPolicy()">Privacy Policy</button>
                and
                <button mat-button type="button" class="inline-button" color="primary" (click)="showTermsAndConditions()">User Agreement</button>
            </p>
        </div>
    </div>
    <div style="text-align: center; padding-bottom: 15px;">
        <button mat-stroked-button type="button" style="width: calc(40% - 5px); margin-right: 10px;" color="warn"
            (click)="cancelRegistration.emit()">Back</button>
        <button mat-flat-button color="primary" style="width: calc(40% - 5px); "
            [disabled]="!registerForm.valid"> Sign Up </button>
    </div>

</form>
